%h3 Users
.container
  %table
    %thead
      %td
        = "ID".html_safe
      %td
        = "E-Mail".html_safe
    - @users.all.each do |user|
      %tr
        %td
          = user.id
        %td
          = user.email

  
